.caja_selectores {
  overflow-y: scroll;
  height: 60vh;
}
.caja_selectores::-webkit-scrollbar {
  width: 7px;
  border-radius: 7px;
}
.caja_selectores::-webkit-scrollbar-thumb {
  width: 7px;
  height: 100px;
  border-radius: 7px;
}
